body {
  background: #e8e8e8;
  font: 400 14px/1 Arial, sans-serif;
  color: #454545;
  
  * {
    box-sizing: border-box;
  }
  
  *:focus { outline: 0; }
}

form {
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  max-width: 320px;
  width: auto;
  height: 224px;
  margin: auto;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 2px 4px -2px #cccccc;
  
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
  }
  
  input[type="text"] {
    display: block;
        //width: 100%;
    height: 36px;
    margin-bottom: 8px;
    padding: 0 36px 0 10px;
    border: 2px solid #cccccc;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  ul.helper-text {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 22px;
    color: #808080;
    
    li.valid {
      color: #1fd34a;
    }
  }
  
  &.valid {
    input { border: 2px solid #1fd34a; }
  }
}