<!DOCTYPE html>

<html lang="en" data-ng-app="BeMEAN">

<head>
    <meta charset="UTF-8">
    <title>Be MEAN</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body data-ng-controller="UserController as User">
    <section class="row wrapper">
        <h1 data-ng-class="User.tituloStyleClass">{{ User.titulo }}</h1>

        <select data-ng-model="User.selected" data-ng-options="user.email as user.name for user in User.users">
            <option value="">Choise a user</option>
        </select>

        <form name="User.userForm" data-ng-submit="User.submitForm(User.form)">
            <div data-ng-class="{'invalid': User.form.name.$invalid && !User.form.name.$pristine, 'dirty': User.form.name.$dirty}">
                <input type="text" name="name" data-ng-model="User.form.name" placeholder="Name" minlength="3" required>
            </div>

            <div>
                <input type="date" name="date" data-ng-model="User.form.date" placeholder="date" data-ng-pattern="User.dateError">

                <p>
                    User.userForm.date.$error: {{ User.userForm.date.$error }}
                </p>

                <div daga-ng-messages="User.userForm.date.$error">
                    <p data-ng-message="pattern">A data nao esta no padrao, fdp!</p>
                </div>
            </div>

            <div>
                <input type="number" name="num" data-ng-model="User.form.num" placeholder="num" data-ng-pattern="User.numError">

                <p>
                    User.userForm.num.$error: {{ User.userForm.num.$error }}
                </p>

                <div daga-ng-messages="User.userForm.num.$error">
                    <p data-ng-message="pattern">O num nao esta no padrao, fdp!</p>
                </div>
            </div>

            <div>
                <input type="password" name="pwd" data-ng-model="User.form.pwd" placeholder="pwd" data-ng-pattern="User.pwdError">

                <p>
                    User.userForm.pwd.$error: {{ User.userForm.pwd.$error }}
                </p>

                <div daga-ng-messages="User.userForm.pwd.$error">
                    <p data-ng-message="pattern">Sua senha nao esta no padrao, fdp! Tem que ter no minimo 8 caracteres!!!</p>
                </div>
            </div>

            <div data-ng-class="{'invalid' : User.form.email.$invalid && !User.form.name.$pristine}">
                <input type="email" name="email" data-ng-model="User.form.email" placeholder="Email">
            </div>

            <div>
                <input type="text" name="phone" data-ng-model="User.form.phone" placeholder="Phone" data-ng-pattern="User.regexPhone" required>

                <p data-ng-show="User.userForm.phone.$error.pattern">
                    Nao esta no padrao, fdp!
                </p>
            </div>

            <button data-ng-disabled="User.editing || User.form.name.$pristine" class="btn btn-large green waves-effect waves-light col s12" type="submit" name="action">Add</button>

            <button data-ng-disabled="!User.editing" data-ng-click="User.save(User.form)" class="btn btn-large animate blue waves-effect waves-light col s12" type="submit" name="action">Save</button>
        </form>

        <br><br><br><br><br><br>

        <hr>

        <br>

        <table>
            <thead>
                <tr>
                    <th colspan="4">
                        <label>
                            <input ng-model="searchUser" placeholder="Search">
                        </label>
                    </th>
                </tr>

                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr data-ng-class="{bold: !user.selecionado, strike: user.selecionado}" class="item" data-ng-repeat="user in User.users | filter:searchUser | orderBy:User.predicate:User.reverse ">
                    <td>
                        <input type="checkbox" id="user-{{$index}}" ng-model="user.selecionado" />
                        <label for="user-{{$index}}"></label>
                    </td>

                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>

                    <td>
                        <button data-ng-click="User.edit(user, $index)" class="btn blue waves-effect waves-light col s12" type="submit" name="action">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br><br>

        <hr>

        <br><br><br>

        <button data-ng-click="User.orderByName()" class="btn btn-large blue waves-effect waves-light col s12 animate" type="submit" name="action">Order Name</button>

        <br><br><br><br>

        <button data-ng-click="User.orderByEmail()" class="btn btn-large blue waves-effect waves-light col s12 animate" type="submit" name="action">Order Email</button>

        <br><br><br><br>

        <button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">Remove</button>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.js"></script>
    <script src="app.js"></script>
</body>
</html>
