<!DOCTYPE html>
<!-- W AL L-->
<html data-ng-app="meuapp">
    <head >
        <meta charset="utf-8">
        <title>aula4</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <style>
            .wraper {
                max-width: 600px;
                margin: 0 auto;
            }

        </style>
    </head>
    <body class="row wraper">
        <div data-ng-controller="Controllerx as Teach">
            <label>nome:
                <input type="text" placeholder="name" data-ng-model="form.professor.name"></input>
            </label>
            <label>disciplina:
                <input type="text" placeholder="disciplina" data-ng-model="form.professor.disciplina"></input>
            </label>
            <label>carga horaria:
                <input type="text" placeholder="qtd horas" data-ng-model="form.professor.carga_horaria"></input>
            </label>
            <label>horario de inicio:
                <input type="text" placeholder="hora que começa" data-ng-model="form.professor.horario_inicio"></input>
            </label>

            <button class="btn btn-large green waves-effect waves-light  col s12" type="text" data-ng-click="Teach.add(form.professor)" name="button">ADD</button>
            <br>
            <label>
                Pesquisar:
                <input data-ng-model="frase2" type="text" placeholder"busque algo"></input>
            </label>
            {{frase2 | filtro}}
            <br data-ng-init=predicate : "Teach.predicate='carga_horaria'">
            <!--{{professor.nome | uppercase}}{{professor.disciplina | filtro | uppercase}}-->
            <table>
                <thead>
                    <tr>

                        <th></th>
                        <th data-ng-repeat="(key, value) in Teach.professores[0]">
                            <a href="" data-ng-click="Teach.ordenar('key')">
                                {{key}}
                            </a>
                        </th>

                    </tr>
                    <tbody>
                        <tr data-ng-repeat="professor in Teach.professores | orderBy:Teach.predicate:Teach.reverse | filter: frase2">
                            <th>
                                <input type="checkbox" id="professor-{{$index}}" ng-model="professor.selecionado" name="name" value=""/>
                                <label for="professor-{{$index}}"></label>
                            </th>
                            <th data-ng-repeat="(key, value) in professor">
                                {{value  | filtro }}
                            </th>
                        </tr>
                    </tbody>
                </thead>
            </table>

            <button class="btn btn-large red waves-effect waves-light  col s12" type="text" data-ng-click="Teach.remove(Teach.professores)" name="button">remove</button>

        </div>
        <script>
            angular.module("meuapp", []).filter("filtro", function() {
                return function(text) {
                    if (text) {
                        if (text.length <= 10) {
                            return text;
                        }
                        return String(text).substring(0, 12) + "...";
                    }
                }
            }).controller("Controllerx", controllerx).filter("saudar", function() {
                return function(text) {
                    var h = text.getHours();
                    if (h >= 0 && h <= 12)
                        return "Bom dia.";
                    else if (h >= 12 && h <= 18)
                        return "Boa tarde.";
                    else if (h >= 18 && h <= 23)
                        return "Boa noite.";
                    }
                });

            function controllerx() {
                var vm = this;
                vm.titulo = "BIG teachers";
                vm.professores = [
                    {
                        nome: "Christiano Cavalcante",
                        disciplina: "Direitos, Portuges, Matematica, Ingles",
                        carga_horaria: "2500h",
                        horario_inicio: 20
                    }, {
                        nome: "Renato Aquino",
                        disciplina: "Portugues",
                        carga_horaria: "200h",
                        horario_inicio: 18
                    }, {
                        nome: "Rodrigo Silva",
                        disciplina: "Arqueologia",
                        carga_horaria: "100h",
                        horario_inicio: 23
                    }, {
                        nome: "Olavo de Carvalho",
                        disciplina: "Filosofia",
                        carga_horaria: "450h",
                        horario_inicio: 12
                    }, {
                        nome: "Marcio Barbosa",
                        disciplina: "Matematica",
                        carga_horaria: "100h",
                        horario_inicio: 10
                    }, {
                        nome: "Régis Cortez",
                        disciplina: "Matematica, Fisica",
                        carga_horaria: "300h",
                        horario_inicio: 02
                    }, {
                        nome: "Suissa",
                        disciplina: "BeMean",
                        carga_horaria: "240h",
                        horario_inicio: 12
                    }
                ];
                vm.add = add;
                function add(professor) {
                    vm.professores.push(professor)
                }
                vm.ordenar = ordenar;
                function ordenar(campo) {
                    vm.predicate = campo;
                    vm.reverse = !vm.reverse;
                }

                vm.remove = remove;
                function remove(professores) {
                    professores.forEach(function(element, index) {
                        if (professores[index].selecionado)
                            professores.splice(professores.indexOf(element), 1);
                        }
                    )
                }
            };
        </script>
    </body>
</html>
