    html body select {
      display: inline-block;
    }
    [disabled] {
      background-color: #ccc !important;
    }
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
    }
    .animate {
      transition: all linear 0.5s;
    }
    .ng-hide {
      height: 0;
    }
    .item.ng-enter {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }
    .item.ng-leave {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }
    .item.ng-move {
      -webkit-transition:all linear 1s;
      transition:all linear 1s;
    }
    .item.ng-enter {
      opacity:0;
    }
    .item.ng-leave {
      opacity:1;
      height: 100px;
    }
    .item.ng-leave.ng-leave-active {
      opacity:0;
      height: 0;
    }

    .item.ng-move {
      opacity: 0;
    }
    .item.ng-move.ng-move-active  {
      opacity: 1;
    }

    .item.ng-enter.ng-enter-active {
      font-weight: normal;
      opacity:1;
    }
    .strike {
      text-decoration: line-through;
    }
    .success {
      background-color: #A4E567;
    }
    .danger {
      background-color: #E56759;
    }
    .valid {
      background-color: #B4E5C4;
    }
    .ng-invalid {
      background-color: red;
    }
    .has-error {
      color: black;
      font-weight: bold;
      background-image: url('error.png');
      background-repeat: repeat-y;
    }
    .selected {
      font-weight: lighter;
      text-decoration: line-through;
    }
    input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align:center;
	}
	input[type=search]:focus {
	    width: 100%;
	    text-align:center;
	}
	.tabela {
    border-collapse: collapse;
  }
  .tabela tbody tr:nth-child(even) {
      background-color: #CCC;
  }
  .tabela tbody tr:nth-child(odd) {
      background-color: #FFF;
  }
  fieldset {
    border: 0;
  }