<!DOCTYPE html>
<html lang="en" data-ng-app="exerc1">
<head>
	<title>Exerc&iacute;cio 1</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body class="container">

<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Cadastro time Cora&ccedil;&atilde;o</h2>
  <div class="row">
  <div class="col-lg-4">
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Nome:</span>
  <input type="text" class="form-control" placeholder="Informe o Nome" aria-describedby="basic-addon1" name="name" data-ng-model="name">
	</div>
  </div>
  <div class="col-lg-4">
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Time Cora&ccedil;&atilde;o:</span>
  <input type="text" class="form-control" placeholder="Informe o Time" aria-describedby="basic-addon1" name="time" data-ng-model="time">
	</div>
  </div>
  <div class="col-lg-4">
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Idade:</span>
  <input type="text" class="form-control" placeholder="Informe a idade" aria-describedby="basic-addon1" name="idade" data-ng-model="idade">
	</div>
  </div>
</div>
  </div>
  <div class="panel-body">
    <h3>Resultado</h3>
    <h4>Nome: <span class="label label-primary">{{name}}</span></h4>
    <h4>Time: <span class="label label-success">{{time}}</span></h4>
    <h4>Idade: <span class="label label-info">{{idade}}</span></h4>
  </div>
</div>
<script>
		angular.module('exerc1', []);
</script>
</body>
</html>